@model Budget.Data.ExpenseReport

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet">

<div>
    <div class="col-md-8">
        <form id="expenseForm">
            @Html.HiddenFor(m => m.ItemId)
            <div class="form-group">
                @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(model => model.Category, new SelectList(new List<SelectListItem>
                        {
                             new SelectListItem { Text = "Food" , Value = "Food"},
                             new SelectListItem { Text = "Shoping", Value = "Shoping" },
                             new SelectListItem { Text = "Travel", Value = "Travel" },
                             new SelectListItem { Text = "Health", Value = "Health" },
                         },
                                "Value", // property to be set as Value of dropdown item
                                "Text",  // property to be used as text of dropdown item
                                "True"), // value that should be set selected of dropdown
                                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" Id="clander-container">
                @Html.LabelFor(model => model.ExpenseDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="input-group date">
                    @Html.EditorFor(model => model.ExpenseDate, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control" }
                    })

                </div>
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <button type="button" id="btnSubmit" class="btn btn-block btn-info">Save</button>
        </form>
    </div>
</div>
