@model IEnumerable<Budget.Models.ExpenseListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>Actions</th>
    </tr>

    @{
        int Total = 0;
    }

    @foreach (var item in Model)
    {
        Total = Convert.ToInt32(Total + item.Amount);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ExpenseId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", new { id=item.ExpenseId }, new { @class = "btn btn-danger" })
            </td>
        </tr>


    }

    <tr>
        <td colspan="4" class="text-right">
            <b>Total: @Total</b>
        </td>
    </tr>


</table>


