<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Budget Tracker</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body class="bg">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(
    " ",
    "Index",
    "Home",
    null,
    new
    {
        style = "background: url('" + Url.Content("~/Content/themes/base/images/logo__2_-removebg-preview (1).png") + "') no-repeat center right; display:block; height:75px; width:160px;"
    }
)
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">



                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Expense <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-item">@Html.ActionLink("Expense Category", "Index", "ExpenseCategory")</li>
                                <li class="dropdown-item">@Html.ActionLink("Add Expenses", "Index", "Expense")</li>
                            </ul>
                        </li>

                        <li class=" dropdown" role="menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Income<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">@Html.ActionLink("Income Category", "Index", "IncomeCategory")</li>
                                <li class="dropdown-item">@Html.ActionLink("Add Income", "Index", "Income")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }


                </ul>
                            @Html.Partial("_LoginPartial")
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Budget Tracker</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
